/*         Notes Making Section          */
.mainpage-container {
    width: 100vw;
    height: 100vh;
}
.notes-name-section {
    background-color: #FFFFFF;
    width: 30vw;
    height: 100%;
}
.notes-name-section p {
    padding-top: 50px;
}
.groupNameListContainer {
    height: 650px;
    overflow-y: auto;
    box-sizing: border-box;
}
.groupNameList {
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}
.groupName {
    width: 320px;
    padding: 5px;
}
.nameCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #FFFFFF;
    padding: 5px;
}
.plusIcon-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 40px;
    left: 23%;
}
.plusIcon {
    width: 60px;
    height: 60px;
}
/*          notes section            */
.notes-section {
    background-color: #DAE5F5;
    width: 70vw;
    height: 100%;
}
.bgImgContainer {
    padding-top: 160px;
    padding-bottom: 10px;
}
.bgImg {
    width: 600px;
    height: 310px;
}
.notes-description {
    margin-top: 10px;
}
.notes-description p {
    color: #292929;
}
.lockIcon-container {
    position: fixed;
    bottom: 20px;
}
.lockIcon {
    width: 25px;
    height: 25px;
}
/*          modal view container        */
.modalViewContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*              responsiveness               */
/*      mobile screens           */
@media (min-width: 315px) and (max-width: 426px) {
    .notes-name-section {
        width: 100vw;
    }
    .nameCircle {
        width: 40px;
        height: 40px;
    }
    .plusIcon-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        bottom: 20px;
        left: 83%;
    }
    .plusIcon {
        width: 45px;
        height: 45px;
    }
    .notes-section {
        display: none;
    }
}
